<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>attempttest</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bulma.css' %}">
    <style>
        .centerall {
padding: 10px;
display: flex;
flex-wrap: nowrap;
justify-content: center;
align-items:center
}
.adjus{
left:5vh;
}
    </style>
</head>
<body>
<nav class="navbar is-black" role="navigation" aria-label="main navigation">
    <div class="navbar-menu" id="navMenuColorprimary-example">
        <div class="navbar-start">
            <div class="navbar-item">
               TESTPAGE
            </div>

        </div>
        <div class="navbar-end">
                <div class="navbar-item">
                        <img src="{{image.image.url}}">
                    </div>
                    <div class="navbar-item">
                        {{request.user.username}}
                    </div>


            </div>
        </div>


     </div>
    </nav>
<center> <h1 class="title"><b>Test on unit {{unit}} in {{subject}} subject</b></h1></center>


<form action="{% url 'getscore'%}" method="post">
    {% csrf_token %}
{% for each in qa %}
<div class="card box" style="margin:30px">
    <div class="card-header">
        <div class="card-header-title">
            Question {{each.number}}
        </div>
    </div>
    <div class="card-content">
        <input type="hidden" value="{{each.answer}}"name="Question/{{each.question}}" >
        {{each.question}}
    </div>
    <div class="card-footer">
         {% for option in each.options %}
        <div class="card-footer-item">

            <input type="radio" value="{{option}}" name="{{each.question}}/{{each.answer}}">
            {{option}}

        </div>
        {% endfor %}
    </div>

</div>
{% endfor %}
    <div class="centerall">
        <input class="button is-primary" type="submit" value="SUBMIT"/>
    </div>
</form>
</body>

</html>