<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bulma.css' %}">
</head>
<body>
<nav class="navbar is-black" role="navigation" aria-label="main navigation">
    <div class="navbar-menu" id="navMenuColorprimary-example">

        <div class="navbar-end">
                 <div class="navbar-item">
                        <div class="navbar-item has-dropdown is-hoverable">
                                <a class="navbar-link">
                                  Register as
                                </a>

                                <div class="navbar-dropdown">

                                    <strong><a class="navbar-item" href="{% url 'student_signup_html' %}">
                                      student
                                    </a></strong>
                                    <strong><a class="navbar-item" href="{% url 'teacher_signup_html' %}">
                                      teacher
                                    </a></strong>

                                </div>
                        </div>
                    </div>
                 <div class="navbar-item">
                        <div class="navbar-item has-dropdown is-hoverable">
                                <a class="navbar-link">
                                  Login as
                                </a>

                                <div class="navbar-dropdown">

                                    <strong><a class="navbar-item" href="{% url 'student_login_html' %}">
                                      student
                                    </a></strong>
                                    <strong><a class="navbar-item" href="{% url 'teacher_login_html' %}">
                                      teacher
                                    </a></strong>

                                </div>
                        </div>
                    </div>

    </div>
     </div>
    </nav>
</body>
</html>