<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>scorepage</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bulma.css' %}">
    <style>
        .centerall {
padding: 10px;
display: flex;
flex-wrap: nowrap;
justify-content: center;
align-items:center
}
.adjus{
left:5vh;
}
    </style>
</head>
<body>
<nav class="navbar is-black" role="navigation" aria-label="main navigation">
    <div class="navbar-menu" id="navMenuColorprimary-example">
        <div class="navbar-start">
            <div class="navbar-item">
               SCOREPAGE
            </div>

        </div>
        <div class="navbar-end">
                <div class="navbar-item">
                        <img src="{{image.image.url}}">
                    </div>
                    <div class="navbar-item">
                        {{request.user.username}}
                    </div>
                    <div class="navbar-item">
                        <button class="button is-black" onclick="window.location.href={% url 'logout_html' %}"> logout </button>
                    </div>
                    <div class="navbar-item">
                        <button class="button is-black" onclick="window.location.href={% url 'studenthome' %}"> home </button>
                    </div>

            </div>
        </div>


     </div>
    </nav>
<!--<center> <h1 class="title"><b>scorepage</b></h1></center>-->
<center> <strong> your score is {{correct}}  out of {{tot}}</strong></center>
{% for each in response %}
<div class="card" style="margin:20px">
    <div class="card-content">
        <div class="subtitle">
            Question {{each.number}} :{{each.question}}
        </div>
    </div>
    <div class="card-content">
        <p class="subtitle">
            <i>Answer :{{each.answer}}</i>
        </p>
        <p class="subtitle">
            {% if each.attempted is True%}
               {% if each.correct is True%}
            <font color="green">Correct Answer</font>
                {% else %}
                    <font color="red">Wrong Answer</font>
                {% endif %}
            {% else %}
                you didn't attempt this question
            {% endif %}

        </p>
    </div>
    </div>

{% endfor %}
</div>
</body>
</html>