<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>SuccessPage</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bulma.css' %}">
    <style>
        .centerall {
height: 100vh;
padding: 0;
display: flex;
flex-wrap: nowrap;
justify-content: center;
}

    </style>
</head>
<body>
<nav class="navbar is-black" role="navigation" aria-label="main navigation">
    <div class="navbar-menu" id="navMenuColorprimary-example">
        <div class="navbar-start">
            <div class="navbar-item">
               SUCCESSPAGE
            </div>

        </div>
        <div class="navbar-end">
                <div class="navbar-item">
                        <img src="{{image.image.url}}">
                    </div>
                    <div class="navbar-item">
                        {{request.user.username}}
                    </div>
                    <div class="navbar-item">
                        <button class="button is-black" onclick="window.location.href={% url 'logout_html' %}"> logout </button>
                    </div>
                    <div class="navbar-item">
                        <button class="button is-black" onclick="window.location.href={% url 'teacherhome' %}"> home </button>
                    </div>

            </div>
        </div>
    </nav>
<h1>SUCCESSFULLY CREATED TEST on unit {{unit}} in subject {{subject}}</h1>
</body>
</html>