<!DOCTYPE html>
<html lang="en">
<head>

     {% load static %}
    <meta charset="UTF-8">
    <title>Test Form</title>
     <link rel="stylesheet" type="text/css" href="{% static 'css/bulma.css' %}">
    <style>
        .centerall {
height: 100vh;
padding: 0;
display: flex;
flex-wrap: nowrap;
justify-content: center;
align-items:center
}
.adjus{
left:5vh;
}
    </style>
</head>
<body>
    <nav class="navbar is-black" role="navigation" aria-label="main navigation">
    <div class="navbar-menu" id="navMenuColorprimary-example">
        <div class="navbar-start">
            <div class="navbar-item">
               TESTFORM
            </div>

        </div>
        <div class="navbar-end">
                <div class="navbar-item">
                        <img src="{{image.image.url}}">
                    </div>
                    <div class="navbar-item">
                        {{request.user.username}}
                    </div>
                    <div class="navbar-item">
                        <button class="button is-black" onclick="window.location.href={% url 'logout_html' %}"> logout </button>
                    </div>
                    <div class="navbar-item">
                        <button class="button is-black" onclick="window.location.href={% url 'studenthome' %}"> home </button>
                    </div>

            </div>
        </div>


     </div>
    </nav>
    <div class="centerall">
   <form method="POST" enctype="multipart/form-data">
       {% csrf_token %}
        <table class="table is-striped">
            <thead>
            <center><b>TEST DETAILS</b></center>
            </thead>
            {{taketest}}
        </table>
           <input class="adjus is-primary button shift center"  type="submit" value="take test"/>

   </form>
</div>
</body>
</html>