<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Teacherhome</title>
     <link rel="stylesheet" type="text/css" href="{% static 'css/bulma.css' %}">
    <style>
        .centerall {
height: 100vh;
padding: 0;
display: flex;
flex-wrap: nowrap;
justify-content: center;
}

    </style>
</head>
<body>
<nav class="navbar is-black" role="navigation" aria-label="main navigation">
    <div class="navbar-menu" id="navMenuColorprimary-example">
        <div class="navbar-start">
            <div class="navbar-item">
               TEACHERS HOME
            </div>
            <div class="navbar-item">
                <button class="button is-black" onclick="window.location.href={% url 'create_test_html' %}"> Create Test </button>
            </div>
        </div>
        <div class="navbar-end">
                <div class="navbar-item">
                        <img src="{{image.image.url}}">
                    </div>
                    <div class="navbar-item">
                        {{request.user.username}}
                    </div>
                    <div class="navbar-item">
                        <button class="button is-black" onclick="window.location.href={% url 'logout_html' %}"> logout </button>
                    </div>
            </div>
        </div>


     </div>
    </nav>
</body>
</html>